* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #eaffee;
    font-family: Arial, Helvetica, sans-serif;
}


nav > ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    background-color: #002324;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8);
}

.nav-link {
    text-decoration: none;
    color: #fafafa;
    font-size: 1.5rem;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.nav-link:hover {
    background-color: #3e3e3e7b;
}

.active {
    background-color: #3e3e3e4b;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6);

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
    border-radius: 25px;
}

.promotion-container {
    background-image: url(./images/grassImage3.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    border-radius: 25px;

    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.promotion-content {
    padding: 20px;
    color: #fafafa;
}

.promotion-content h1 {
    font-size: 3rem;
}

.promotion-content p {
    padding-top: 50px;
    color: #fafafa;
    font-size: 1.3rem;
}


button {
    padding: 10px;
    padding-right: 25px;
    padding-left: 25px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 7px;
    border: none;
    font-size: 1.2rem;

    color: #fafafa;
    background-color: #2469ff;
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.3);
}

button:hover {
    cursor: pointer;
    background-color: #003cff;
    box-shadow: 2px 0 12px 0 rgba(0, 0, 0, 0.5);
}

.card-container {

    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fafafa;
    box-shadow: 1px 0 10px 0 rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    margin: 10px;
    padding-bottom: 50px;
    margin-left: 30px;
    margin-right: 30px;
}

.card-header {
    font-size: 1.5rem;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
    border-radius: 25px 25px 0 0;

    text-align: center;
    background-color: #2469ff;
    color: #eaffee;
}

.card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    text-align: center;
}

.card-image > img {
    width: 100%;
    height: 200px;
}

.card-body {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.card-body a:hover {
    color: #050081;
}

#logo {
    width: auto;
    height: 200px;
}

#copyright {
    color: #ffffff;
    align-self: flex-end;
}

footer {
    margin: 0px important;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;

    background-color: #252525;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*  Responsive CSS   */

@media (max-width: 768px) {

    nav > ul {
        flex-direction: column;
        align-items: start;
    }   
    
    .card-container {
        flex-direction: column;
    }

    .card {
        margin-left: 0px;
        margin-right: 0px;
    }
}